body {
    height: 100vh;
}

#wrapper {
    height: 100%;
    background-image: url(ironman.jpg);
    background-size: cover;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#navbarlist {
    width: 600px;

}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
}


li {
    color: white;
    list-style-type: none;
    font-size: 30px;
}


h1 {
    color: darkturquoise;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    color: darkblue;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Lucida Console", Courier, monospace;
}

a {
    font-size: 40px;
}