body {
    height: 100vh;
}


.container {
    height: 100%;
}


#tophalf {
    height: 50%;
}


#bottomhalf {
    height: 50%;
}


.navf {
    display: flex;
    justify-content: space-between;
}


.jumbotron {
    background-image: url(ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}



p {
    color: white;
}


td {
    text-align: center;
}