body {
    background-image: url(grey_map.svg);
    background-size: cover;
}


#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#top {
    height: 20%;
}



#toptxt {
    text-align: center;
    font-size: 50px;
}


#mid {
    height: 25%;
    display: flex;
}


.a {
    padding: 120px;
}


.midtxt {
    color: blue;
    text-align: center;
}


#bottom {
    display: flex;
    justify-items: center;
    height: 65%;
}


.column {
    padding: 70px;
    width: 250px;
    border: white;
    border-radius: 30%;

}


.top {
    background-color: lightgrey;
    height: 120px;
}


#lowerleft {
    background-color: pink;
    color: white;
    padding-top: 60px;
    text-align: center;
    height: 150px;
}


#lowermiddle {
    background-color: blue;
    color: white;
    padding-top: 60px;
    text-align: center;
    height: 150px;
}


#lowerright {
    background-color: turquoise;
    color: white;
    padding-top: 60px;
    text-align: center;
    height: 150px;
}

img {
    display: block;
    width: 100px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin: auto;

}