h1{border-bottom: 1px solid black; 
width: 740px}


img{height: 200px}
   {width: 250px}


ol{list-style-type:upper-roman;}


#center{text-align:center;}


body{display: flex;
}
#left, #right{width: 50vw}