body {
    height: 100hv;
}


#wrapper {

    height: 100vh;
    border: 2px solid black;
    display: grid;
    /* grid-template-areas:
        "left right right right"
        "left right right right"
        "left right right right"
        "bottom bottom bottom bottom";
    grid-gap: 10px;
    padding: 5px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
}


#pink {
    background-color: pink;
    grid-column: 1/2;
    margin: 15px;
}

#blue {
    background-color: blue;
    grid-column: 2/5;
    margin: 15px;
}

#yellow {
    background-color: yellow;
    grid-column: 1/8;
    margin: 15px;
}